{% extends "index.html" %}

{% block content %}
<div class="container-fluid c-bg-prim" style="height: 100px;">
    <div class="row">
        <div class="col-1">
            <h1> </h1>
        </div>
        <div class="col-11">
            <h1 class="font-weight-bold"> Rental Guide </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <h1> </h1>
        </div>
        <div class="col-11">
            <h5 class="font-weight-bold"> Beginners guide to renting in Victoria </h5>
        </div>
    </div>
  </div>
<div class="container-fluid bg-img-3" style="height: 250px;box-shadow: 0px 0px 20px 12px #EAE8DC inset;">
    
</div>
<div class="container-fluid c-bg-prim" style="padding-top: 100px;">
    <div class="row">
        <div class="col-2">
            <h1> </h1>
        </div>
        <div class="col-4">
            <h1 class="font-weight-bold"> 1. Have your identification ready </h1> 
            <h5 class="c-text-prim">This can be your license, passport, birth certificate, Medicare card, or your Visa letter if you are from any other country. 
            </h5>
        </div>
        <div class="col-6">
            <img style="border-radius: 5%;height: 300px;" src="{{ url_for('static', filename='images/g1.jpg') }}" alt="" >
        </div>
    </div>
</div>
<div class="container-fluid c-bg-prim" style="padding-top: 100px;">
    <div class="row">
        <div class="col-2">
            <h1> </h1>
        </div>
        <div class="col-3">
            <img style="border-radius: 5%;height: 300px;" src="{{ url_for('static', filename='images/g2.jpg') }}" alt="" >
        </div>
        <div class="col-1">
            <h1> </h1>
        </div>
        <div class="col-4">
            <h1 class="font-weight-bold"> 2. Have your references ready </h1> 
            <h5 class="c-text-prim">This could be from your employer. Your previous house owner or someone whom you trust and who can refer you 
            </h5>
        </div>
        <div class="col-2">
            <h1> </h1>
        </div>
    </div>
</div>
<div class="container-fluid c-bg-prim" style="padding-top: 100px;">
    <div class="row">
        <div class="col-2">
            <h1> </h1>
        </div>
        <div class="col-4">
            <h1 class="font-weight-bold"> 3. Have your rental history ready.</h1> 
            <h5 class="c-text-prim"> This could be the rental for two years and give the contact of your previous house owners or landlords
            </h5>
        </div>
        <div class="col-6">
            <img style="border-radius: 5%;height: 300px;" src="{{ url_for('static', filename='images/g3.jpg') }}" alt="" >
        </div>
    </div>
</div>
<div class="container-fluid c-bg-prim" style="padding-top: 100px;">
    <div class="row">
        <div class="col-2">
            <h1> </h1>
        </div>
        <div class="col-3">
            <img style="border-radius: 5%;height: 300px;" src="{{ url_for('static', filename='images/g4.jpg') }}" alt="" >
        </div>
        <div class="col-1">
            <h1> </h1>
        </div>
        <div class="col-4">
            <h1 class="font-weight-bold"> 4. Have your proof of income ready </h1> 
            <h5 class="c-text-prim"> This is not limited to proof of income but your employment letter or your payslips for the past six months as well
            </h5>
        </div>
        <div class="col-2">
            <h1> </h1>
        </div>
    </div>
</div>
<div class="container-fluid c-bg-prim" style="padding-top: 100px;">
    <div class="row">
        <div class="col-2">
            <h1> </h1>
        </div>
        <div class="col-4">
            <h1 class="font-weight-bold"> 5. Have your employment details and history </h1> 
            <h5 class="c-text-prim"> Please ensure that you provide accurate and complete information about your employment details and history.
            </h5>
        </div>
        <div class="col-6">
            <img style="border-radius: 5%;height: 300px;" src="{{ url_for('static', filename='images/g5.jpg') }}" alt="" >
        </div>
    </div>
</div>
<div class="container-fluid c-bg-prim" style="padding-top: 100px;">
    <div class="row">
        <div class="col-2">
            <h1> </h1>
        </div>
        <div class="col-3">
            <img style="border-radius: 5%;height: 300px;" src="{{ url_for('static', filename='images/g6.jpg') }}" alt="" >
        </div>
        <div class="col-1">
            <h1> </h1>
        </div>
        <div class="col-4">
            <h1 class="font-weight-bold"> 6. Have the copy of your bank statements </h1> 
            <h5 class="c-text-prim"> Make sure to keep a copy of your bank statements for your records and financial documentation purposes.
            </h5>
        </div>
        <div class="col-2">
            <h1> </h1>
        </div>
    </div>
</div>
<div class="container-fluid c-bg-prim" style="padding-top: 100px;padding-bottom:100px;">
    <div class="row">
        <div class="col-2">
            <h1> </h1>
        </div>
        <div class="col-4">
            <h1 class="font-weight-bold"> 7. Have your recommendation letter from charities </h1> 
            <h5 class="c-text-prim"> Remember to obtain a recommendation letter from charities you have worked with to showcase your community involvement.
            </h5>
        </div>
        <div class="col-6">
            <img style="border-radius: 5%;height: 300px;" src="{{ url_for('static', filename='images/g7.jpg') }}" alt="" >
        </div>
    </div>
</div>
{% endblock %}