{% extends "index.html" %}

{% block content %}
<div class="container-fluid c-bg-prim" style="height: 100px;">
    <div class="row">
        <div class="col-1">
            <h1> </h1>
        </div>
        <div class="col-11">
            <h1 class="font-weight-bold"> Historical Trends and Future Forecasts </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <h1> </h1>
        </div>
        <div class="col-11">
            <h5 class="font-weight-bold"> Presenting the historical trends of median quarterly rental prices for each suburb starting from 2018, along with a forecast of the median rental prices for the upcoming quarter  </h5>
        </div>
    </div>
</div>

<div class="container-fluid bg-img-4" style="height: 250px;box-shadow: 0px 0px 20px 12px #EAE8DC inset;">

</div>
<div class="container-fluid c-bg-prim" style="padding-top: 50px;padding-bottom: 50px">
    <iframe src="/historical_forecast/" width=100% height=700></iframe>
</div>

{% endblock %}