{% extends "index.html" %}

{% block content %}
<div class="container-fluid c-bg-prim" style="height: 100px;">
    <div class="row">
        <div class="col-1">
            <h1> </h1>
        </div>
        <div class="col-11">
            <h1 class="font-weight-bold"> Suburb Recommender </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <h1> </h1>
        </div>
        <div class="col-11">
            <h5 class="font-weight-bold"> AI-based recommendation system to determine which suburb best suits your needs </h5>
        </div>
    </div>
  </div>
<div class="container-fluid bg-img-2" style="height: 250px;box-shadow: 0px 0px 20px 12px #EAE8DC inset;">
    
</div>
<div class="container-fluid c-bg-prim" style="padding-top: 100px;padding-bottom: 100px">
    <iframe src="https://rent-with-heart-suburb-recommender-6exjitv64q-km.a.run.app/" width=1500 height=1200></iframe>
</div>

{% endblock %}