{% extends "index.html" %}

{% block content %}
<div class="container-fluid c-bg-prim" style="height: 100px;">
    <div class="row">
        <div class="col-1">
            <h1> </h1>
        </div>
        <div class="col-11">
            <h1 class="font-weight-bold"> Support Services </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-1">
            <h1> </h1>
        </div>
        <div class="col-11">
            <h5 class="font-weight-bold"> Discover impactful resources to support and empower you  </h5>
        </div>
    </div>
  </div>
<div class="container-fluid bg-img-5" style="height: 250px;box-shadow: 0px 0px 20px 12px #EAE8DC inset;">
    
</div>
<div class="container-fluid c-bg-prim" style="padding-top: 100px;padding-bottom: 100px">
    <iframe src="http://54.66.134.81:8002/" width=1500 height=700></iframe>
</div>

{% endblock %}